* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header h1,
form button {
    font-family: 'Rubik Distressed', cursive;
    color: #fcfeff;
    font-weight: normal;
}

body, input, textarea {
    font-family: 'Alexandria', sans-serif;
}

header {
    padding: 16px 0;
    background-color: #035a0c;
    color: #fcfeff;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav a {
    color: #fcfeff;
    text-decoration: none;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.escudos img{
    height: 100px;
}

.escudos li {
    display: inline;
    margin-right: 20px;
}

section .container {
    align-items: flex-start;
}

section {
    padding: 24px 0;
}

section h2 {
    margin-bottom: 16px;
}

section {
    color: #035a0c;
}

section p {
    margin-bottom: 8px;
}

.flag {
    margin-right: 32px;
}

.social-links img{
    height: 24px;
}

#contato .container {
    display: block;
}

.contact-method {
    display: flex;
    justify-content: space-between;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;
}

.social-links li {
    display: inline;
    margin-right: 8px;
}

.social-links a {
    text-decoration: none;
}

.section h3 {
    margin-bottom: 16px;
}

form button {
    background-color: #035a0c;
    color: #fcfeff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #4fe65f;
}

input:focus textarea:focus {
    outline-color: #035a0c;
}

footer {
    background-color: #035a0c;
    color: #fcfeff;
    padding: 14px;
}

section h2, section h3 {
    font-family: 'Rubik Distressed', cursive;
    color: #035a0c;
    font-weight: normal;
}